{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form class="" method="post" action="{% url 'login' %}">

        {% csrf_token %}
        {% for fm in form %}
            <table class="table">
                {{ fm.label }}
                {{ fm }}
            </table>
        {% endfor %}

        <input type="submit" class="btn btn-primary mb-3 mt-2" name="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
        <a href="{% url 'password_reset' %}" class="">Lost password?</a>
{% endblock %}