ul {
    list-style: none;
}

.wrapper_base {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 200px;
    border-right: 1px solid gray;
    padding: 16px;
    overflow: auto;
}

.main {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 24px;
    overflow: auto;
    background-color: #fafafa;
}

.header.menu_header {
    align-items: flex-start;
    transform: translate(-100%, 0);
    animation-name: menu;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.67,-1.21,.05,1.84)
}

.nav_menu {
    padding-left: 24px;
}

.wrapper_for_mylinks_header {
    margin-bottom: 24px;
}

.single_block_in_mylinks_header {
    display: inline-block;
    padding: 24px;
}

.wrapper_for_categories {
    border: 2px solid #c5d9ed;
    border-radius: 14px;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #c5d9ed;
}

.category {
    text-decoration: none;
    color: #0d6efd;
}

@keyframes menu {
  to {
    transform: translate(0, 0);
  }
}

.padding-24 {
    padding: 24px;
}

.modal-error {
    color: red;
    text-align: center;
}